<div class="ui cards">
  {{#each currentParticipants as |participant|}}
    <div data-test-participant-id={{participant.id}} class="card">
      <div class="ui center aligned container content">
        <h2 class="header">{{participant.name}}</h2>
      </div>
    </div>
  {{/each}}
</div>
