<h1 class='ui header'>Look right?</h1>
{{#light-table
  table
  tableClassNames='ui table'
  as |t|}}
  {{t.body}}
{{/light-table}}
<button class='ui button' onclick={{action editParticipants}}>
  Back
</button>
<button class='ui right labeled icon button' onclick={{action participantsConfirmed}}>
  <i class='right checkmark icon'></i>
  Next
</button>
