<div class="ui very padded text container segment">
  <h1 data-test-header class="ui header">
    <div class="content">
      {{t "raffleSetupInfo.header" raffleName=raffle.name}}
    </div>
  </h1>
  <h2 data-test-settings-header class="ui header">
    <i class="icon em em-straight_ruler"></i>
    {{#link-to "raffles.raffle.setup.settings' raffle class='content"}}
      {{t "raffleSetupInfo.settings"}}
    {{/link-to}}
  </h2>
  <h2 data-test-add-participants-header class="ui header">
    <i class="icon em em-information_desk_person"></i>
    {{#link-to "raffles.raffle.setup.add-participants' raffle class='content"}}
      {{t "raffleSetupInfo.addParticipants"}}
    {{/link-to}}
  </h2>
  {{#link-to "raffles.raffle.index' class='ui large primary button"}}
    {{t "common.save"}}
  {{/link-to}}
</div>
