<h1 class='ui header'>What're the rules of the drawing?</h1>
<div class='ui form'>
  <div class='three wide field'>
    <label>Number of winners</label>
    <div class='ui right labeled input'>
      <input type='number' oninput={{action (mut numWinners) value="target.value"}} value={{numWinners}} />
      <div class='ui basic label'>
        {{t 'setupDrawing.winnerNumberInput.label' count=numWinners}}
      </div>
    </div>
  </div>
  <button class='ui right labeled icon button' onclick={{action submitDrawingSetup}}>
    <i class='right arrow icon'></i>
    Next
  </button>
</div>
