<div class='ui container'>
  {{#link-to 'index' class='header item'}}
    {{t 'common.siteName'}}
  {{/link-to}}

  {{#link-to 'raffles.index' class='header item'}}
    {{t 'siteHeader.raffles'}}
  {{/link-to}}
</div>
