<div class="ui container">
  {{#link-to "index" class="header item" data-test-selector="global-homepage-link"}}
    {{t "common.siteName"}}
  {{/link-to}}

  {{#link-to "raffles.index" class="header item" data-test-selector="global-raffles-link"}}
    {{t "siteHeader.raffles"}}
  {{/link-to}}
</div>
