<div class="ui card center aligned content container">
  <div class="image">
    <i class="massive icon trophy"></i>
  </div>
  <div class="content">
    <h1 data-test-winner-name class="header">{{winner.name}}</h1>
  </div>
</div>
