@import "pod-styles";

html,
body,
body > div {
  height: 100%;
}

.main.container {
  margin-top: 7em;

  &.index {
    margin-top: 0;
  }
}

a.disabled {
  cursor: default;
  color: gray;
}

// Fix conflict with light-table and semantic UI
.ui.table .lt-scaffolding-row .lt-scaffolding {
  padding: 0;
}
