.masthead.segment {
  height: 50vh;
}

.ui.inverted.header {
  margin-top: 20vh;
  font-size: 4em;
}

.ui.vertical.stripe {
  padding: 8em 0em;

  h3 {
    font-size: 2em;
  }

  p {
    font-size: 1.3em;
    margin-top: 0em;
  }
}

.stripe.segment.why {
  i.em {
    font-size: 5em;
  }
}
