<div class='ui center aligned padded text container segment'>
  <h1 class='ui huge header'>Ready, Set...</h1>
  <button class='ui large green button' onclick={{route-action 'startDrawing'}}>Go!</button>
</div>
